@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #f2f1f0;
  font-family: "Poppins";
}

.input-class {
  padding: 6px 9px;
  font-size: 1rem;
  border-radius: 8px;
  width: 100%;
}

/* hidescoller */
.hidescroller {
  overflow: auto; /* or overflow: scroll; */
}

.hidescroller::-webkit-scrollbar {
  display: none;
}

/* customer scroller */
.scroller {
  overflow: auto;
  scrollbar-width: thin; /* "auto" or "thin" for Firefox */
  scrollbar-color: rgba(115, 113, 113, 0) rgba(160, 48, 48, 0); /* thumb color and track color */
}

.scroller::-webkit-scrollbar {
  width: 12px; /* width of the scrollbar */
}

.scroller::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.5); /* color of the thumb */
  border-radius: 6px; /* rounded corners of the thumb */
}

.scroller::-webkit-scrollbar-track {
  background-color: rgba(174, 169, 169, 0); /* color of the track */
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
}

.modal-content {
  max-width: 400px; /* Adjust as needed */
}

.modal-close {
  position: absolute;
  top: 10px;
  right: 10px;
}
